@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');

*{
  margin:0;
  padding:0;
  /* box-sizing:border-box; */
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --bgOrange: #e84949;
  --bgBlack :rgb(20,20,32);
  --bgNavbar:rgba(114, 109, 153, 0.55);
  --borderNav: rgba(245, 245, 245, 0.608);
  --white: white;
  --whiteSmoke: whitesmoke;
  --boxShadow: rgba(0, 0, 0, 0.7);
  --whiteC6: #ffffffc6;
  --white8E: #ffffff8e;
  --lightpurple :#8d85fb;
  --black :black;
  --role : #5c54d0;
  --projectborder: #343d68;
  --bgColor: rgba(114, 109, 153, 0.15);
  --color: rgba(245, 245, 245);
}

#wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x: hidden;
    background-color: var(--bgBlack);
}

.container{
    width:90%;
    margin:0 auto;
    
}

/* Navbar section */

.navbar {
  width: 90%;
  margin: 0 auto;
  margin-top: -8.5rem;
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: var(--bgNavbar);
  backdrop-filter: blur(7px);
  z-index: 50;
  border: 1px solid var(--borderNav);
}


.logo{
    padding-top: 5px;
    padding-left: 20px;
    width:60px;
}

.logo:hover{
  transform: scale(1.1);
}

.logo-container{
    display:flex;
    justify-content: baseline;
    align-items: center;
}

.logo-text{
    padding-top: -13px;
    padding-left:-0.2rem;
    font-size:1.375rem;
    color: var(--white);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

.nav-items{
    padding-top: 20px;
    display:flex;
    gap:2rem;
    padding: 0 2em;
    justify-content: space-around;
    align-items: center;
}

.nav-items div{
    font-size:16px;
    font-weight:500;
    cursor:pointer;
}

.nav-items div a{
    color:var(--white);
    /* transition: all 5s ease; */

    margin: 0 15px;
}

a{
    text-decoration: none;
}

.nav-items div a:hover {
  background-color: transparent;
  text-decoration:underline;
  text-underline-position:below;
}

.nav-items div:hover{
    transition:0.8s;
    font-weight: bolder;
}

.resume-nav{
  color: var(--white);
  width:auto;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  position: relative;
}

.icon{
  cursor:pointer;
  color:var(--black);
  background-color: var(--white);
  border: 0.2px solid var(--whiteSmoke);
  box-shadow: 0px 16px 30px -10px var(--boxShadow);
  padding: 8px 10px;
  border-radius: 12px;
  font-size: 35px;
  transition:all 0.2s;
}

.icon:hover{
  scale: 1.2;
  transform: translateY(-8px);
}

/* Hero section */

.hero-section{
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 10rem auto;
    padding: 0 1rem;
}


.hero-section-left{
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 1rem;
}

.hero-section-heading{
    font-size: 35px;
    color: var(--white);
    font-weight: 500;
}

.role{
    color: var(--role);
    font-weight: 800;
}

.hero-section-sub-heading{
    font-size: 30px;
    line-height: 40px;
}

.hero-section-description{
    margin-top: 0.8rem;
    width: 70%;
    font-weight: 500;
    color: rgb(182, 184, 197);
    line-height: 23px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hero-section-description span{
    color: var(--lightpurple);
}

.links{
  display:inline-flex;
  margin-top: 3%;
  margin-bottom: 3%;
}

.resume{
  font-size: 20px;
  color: var(--white);
  padding-top: 0.8rem;
  padding-left: 3rem;
  width:auto;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  position: relative;
  z-index: 1;
}

.resume:hover {
  transition: 0.9s;
  font-weight: bolder;
  color: var(--bgOrange);
}

.arrow {
  width: 1rem;
  height: 1rem;
}

.arrow:hover {
  transform: translateX(5px);
  color: var(--bgOrange);
}

.btn-pink {
  background-color: var(--bgOrange);
  width:auto;
  color: var(--white);
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}
.btn-pink::before {
  content: "";
  position: absolute;
  background-color: #00000070;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn-pink:hover::before {
  transform: scaleX(1);
}
.btn-pink:hover {
  border: solid 3px var(--bgOrange);
  color: var(--white);
}


.hero-section-right{
    position:relative;
  }

  .absolute{
    position:absolute;
  }

.user-image{
  object-fit: fill;
  width: 360px;
  height: 380px;
  padding:1.5em;
  transition: all 1s;
  animation: scaleImage 5s linear infinite;
  border-radius: 5%;
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  border: solid 3px #6e7491;
}

.user-image img{
    z-index: -9;
    position: absolute;
    width: 450px;
    height: 460px;
    border-radius: 5%;
    top: -2%;
    left: -3%;
}

/* Project section */

.project-section{
    background-color: rgb(32,32,43);
    margin:4rem;
    border-radius: 2rem;
    border: var(--projectborder) 2px dashed;
}

.page-header{
    color:var(--bgOrange);
    font-size:80px;
    text-align:center;
    padding-top:30px;
}

.project-img{
    width: 80px;
    height: 80px;
}

.project-container{
    max-width: 1200px;
    margin:0 auto;
    padding:3rem 0;
    display:flex;
    flex-direction:column;
    gap:120px;
}

.project-card{
    border-radius: 10px;
    width:80%;
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    /* box-shadow:0px 0px 40px #1f1f1f; */
}

.project-card::after{
    border-radius: 10px;
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: #1f1f1f9a;
    z-index:0;
    /* transform: scaleX(1); */
}

.project-card::before{
    border-radius: 10px;
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background: linear-gradient(45deg, var(--projectborder), #343d68be, #343d687c);
    transform:scaleX(0);
    transform-origin: left;
    transition: all 0.4s;
    z-index:1;
  }
  
.project-card:hover::before{
    transform:scaleX(1);
  }

.project-number{
    position:absolute;
    font-size:150px;
    font-weight:600;
    color:var(--white);
    z-index:10;
    display:none;
    opacity: 0;
  }

  .project-card:hover .project-number{
    display:block;
    opacity: 1;
  }

  .project-number-right{
    right:-40px;
    top:-45px;
  }

  .project-number-left{
    left:-40px;
    top:-45px;
  }

  .project-content{
    position:absolute;
    display:flex;
    flex-direction:column;
    color:var(--white);
    padding:1em;
    bottom:20%;
    z-index:5;
    gap:1em;
    transition:all 0.4s;
  }


  .project-content-left{ 
    left:10%;
  }

  .project-content-right{ 
    right:10%;
  }

  .project-skills-container{
    width:80%;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
  
  }

  .project-skill{
    width:40px;
  }

  .project-heading{
    font-size:50px;
    font-weight: bold;
    line-height:3rem;
  }
  
  .project-subHeading{
    width:70%;
    font-size:16px;
    font-style: italic;
  }

  .btn-grp{
    display:flex;
    gap:1rem;
    align-items:center;
  }

  .btn-project:hover{
    border: solid 3px var(--bgOrange);
    color: var(--white);
  }

  .project-card:hover .project-content{
    transform:scale(1.1);
  }

  #project1{
    background-image: url(./images/projects/Project1.png);
  }

  #project2{
    margin-left:120px;
    background-image: url(./images/projects/Project2.png);
  }
  #project3{
    background-image: url(./images/projects/Project3.png);
  }
  #project4{
    margin-left:120px;
    background-image: url(./images/projects/project4.png);
  }
  #project5{
    background-image: url(./images/projects/Project5.png);
  }

  .btn-black-project {
    background-color: var(--black);
    width:auto;
    color: var(--white);
    padding: 0.8rem 2.3rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0s;
    font-weight: 500;
    border: solid 3px transparent;
    position: relative;
    z-index: 1;
    width: 12%;
    margin: auto;
    margin-bottom: 2rem;

  }
  
  .btn-black-project:hover {
    border: 3px solid var(--projectborder);
    box-shadow: none;
  }
  
  .fa-code{
    margin-right: 5px;
  }
    
/* Skills Section */

.skills-container{
  position:relative;
  display:flex;
  padding:2rem;
  margin:10rem auto;
  justify-content: space-between;
}

.skill-img{
  width: 100px;
  height: 100px;
}

.skill-container-left{
  width:60%;
  display:flex;
  flex-direction:column;
}

.skill-container-right{
  display:flex;
  flex-wrap:wrap;
  width:50%;
  position:relative;
  gap:2rem;
  justify-content: center;
}

.blob-style{
  position:absolute;
  top:50%;
  left:50%;
  z-index:1;
  transform:translate(-50%, -50%);
  animation: blobAnimate 4s linear infinite;
}

@keyframes blobAnimate {
  50%{
    top:54%;
    left:46%;
  }
}

.skills-logo{
  height: 90px;
  width:90px;
  transition:all 0.5s;
  z-index: 2;
}

.skills-logo:hover{
  transform:scale(1.1);
}


.skill-heading{
  font-size:50px;
  font-style: bold;
  color: var(--white);
  line-height: 50px;
}

.caps{
  font-size:90px;
  color: var(--role);
}

.skill-subHeading{
  margin-top: 1rem;
  width:85%;
  padding: 5%;
  text-align: justify;
  color: rgb(159, 163, 180);
  background-color: rgba(114, 109, 153, 0.15);
  border: var(--projectborder) 2px dashed;
  border-radius: 2rem;
}

.skill-subHeading p{
  margin:15px 0;
}


/* Connect-section */
.connect-section{
  margin: 7%;
  text-align: center;
}
.connect-section h2{
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 1%;
}

.connect-section p{
  font-size: 1em;
  margin: auto;
}

.connect-des{
  margin: auto;
  margin-top: 5%;
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 7%;
}

.connect-des h3{
  font-size: 1.3em;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight:600;
  margin-bottom: 2%;
}

.connect-des p{
  font-size: 0.8em;
  width: 90%;
  margin: auto;
  line-height: 150%;
}

.connect-des i{
  background-color: var(--accent-color);
  padding: 25px;
  border-radius: 100%;
  color: var(--white);
  margin:4%;
  /* box-shadow: 1px 18px 10px rgba(0, 0, 0, 0.1); */
  transition: all 0.5s;
}

.connect-des i:hover{
  box-shadow: none;
}


/* ====== STATISTICS ====== */
/* General styles */
.statistics-section {
  margin: 0.1%;
  text-align: center;
}

.statistics-title {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 1%;
}

.statistics-subtitle {
  font-size: 1em;
  margin: auto;
}

/* Container styles */
.statistics-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

/* Image styles */
.statistics-container img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
  width: 400px; /* Default width for larger screens */
}



/* connect-box */

.lets-connect{
  width: 85%;
  margin: auto;
  background-image: linear-gradient(270deg, #f3c3f3db -15%, #e9b555 50%, #97ace1a7 105%);
  background-repeat: no-repeat;
  object-fit: cover;
  padding: 4%;
  border-radius: 15px;
}

.connect-box{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  gap: 20%;
}

.connect-left{
  text-align: center;
}
.connect-left h2{
  color: var(--black);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 2rem;
}
.connect-left p{
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.651);
}

.btn-black {
  background-color: var(--black);
  width:auto;
  color: var(--white);
  padding: 0.8rem 2.3rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.592);
}

.btn-black:hover {
  color: var(--white);
  box-shadow: none;
}

.fa-rocket{
  margin-right: 5px;
}


/* Featured Timeline */
.design-section {
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 4rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

.timeline-h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 3%;
  margin-left: 7%;
  font-size: 2.5em;
  color: var(--white);
  line-height: 5px;
  z-index: 1;
}

.timeline-h2{
  margin-top: -1.7%;
  margin-left: 7%;
  font-size: 2em;
  color:#E24A68;
}

.design-section a{
  color:var(--white);
}
.design-section a:hover{
  text-decoration: underline;
}

.timeline-box{
  border-right: 2px solid var(--borderNav);
  border-left: 2px solid var(--borderNav);
  border-bottom: 2px solid var(--borderNav);
}

ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}

/* line */
ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

/* date */
ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);

  text-align: center;
  background-color: var(--accent-color);

  color: var(--white);
  font-weight: 500;
  font-size: 1.25rem;
  font-weight: 700;
  display: grid;
  place-content: center;
  position: relative;

  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;
  box-shadow: none;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  transition: all 0.5s;

}

ul li .date:hover::after {
  box-shadow: 1px 1px 20px var(--accent-color);
 
}

/* title descr */
ul li .title,
ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
  color: rgb(159, 163, 180);
}

/* shadows */
ul li .title::before,
ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  ul::before {
    grid-column: 2;
  }
  ul li:nth-child(odd) {
    grid-column: 1;
  }
  ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  ul li:nth-child(2) {
    grid-row: 2/4;
  }

  ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

.credits {
  margin-top: 1rem;
  text-align: right;
}
.credits a {
  color: var(--color);
}

/* Contact us */

.contactus-form-container{
  width:100%;
}

.contactus-heading{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  margin-top: -6.5%;
  margin-left: 4%;
  font-size:4em;
  color: var(--white);
  line-height: 10px;
  
}
.contactus-heading-down{
  margin-top: 5.8%;
  display: flex;
  margin-left: 4%;
  font-size:3em;
  color: var(--role);
  z-index:-10;
}

.contactus-sub-heading{
  margin-left: 40px;
  margin-top:70px ;
  font-size:2rem;
  color: #535c87;
  text-transform: capitalize;
}

/* conatact-us form */

.contactus-form-container{
  position:relative;
  margin-top:20px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.form{
  display:flex;
  flex-direction: column;
  gap:30px;
  width:35%;
  margin: 2rem 5rem;
}

.formfield-container{
  width:100%;
}

.formfield{
  background-color: var(--whiteSmoke);
  width:100%;
  height:42px;
  padding: 0 2rem;
  font-size:18px;
  border-radius: 5px;
  font-weight:500;
  border:none;
  margin-top:27px;
  border: 1px solid rgba(114, 109, 153, 0.35);
}

.formfield:hover{
  background-color: rgba(245, 245, 245, 0.9);
}

.formfield-textarea{
  height:auto;
  padding-top:1rem;
}

.hover-btn{
  --x: 50%;
	--y: 50%;
	position: relative;
	appearance: none;
	padding: 1em 2em;
	color: #22005a;
	cursor: pointer;
	outline: none;
	border-radius: 100px;
  border: 3px solid transparent;
	background: linear-gradient(var(--whiteC6), var(--whiteC6)) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), var(--white), #22005a) border-box;
  font-size:1rem;
}

#submit-btn{
  margin: 1rem 0;
}

.submit-icon{
  padding:0 1rem;
  font-size:1rem;
}

.contactus-img{
  width: 400px;
  height: 400px;
}

.hr{
  width:100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;

}
.contactus-below{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px; 
}

.contactus-below p{
  color:rgb(175, 162, 162);
  width: 100%;
  text-align: center;
}

.contactus-below a{
  cursor: pointer;
  margin: auto;
  color: var(--lightpurple);
  font-size: medium;
}

address{
  color: var(--whiteSmoke);
}

/* contactus button*/ 

.alert{
  width: 106%;
  font-weight: 600;
  display: none;
  color: var(--white);
  background-color: rgb(128, 128, 128);
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;
}

/* Footer Section */
footer {
  background-color: var(--projectborder);
  padding: 2rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-faded-text {
  color: #d4d4d484;
  font-size: 2em;
}

.link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.link-wrapper div a {
  color: var(--white);
  text-decoration: none;
  transition: all 0.6s;
}

.icon-wrapper {
  display: flex;
  gap: 1rem;
  background-color: #e2e8f084;
  box-shadow: inset 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  max-width: fit-content;
  padding: 8px;
  border-radius: 20px;
}

.tooltiptext {
  visibility: hidden;
  width: fit-content;
  font-size: 10px;
  font-weight: 600;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
  border-radius: 10px;
  padding: 10px;

  position: absolute;
  top: -80%;
  left: -2px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 1;
}




/* resume section */

.resume-section{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 10rem auto;
  padding: 0 1rem;
}

.img-container{
  position: relative;
  width: 70vw;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px var(--white8E);
}

.resume-links{
display:inline-flex;
}

.back-to-home{
font-size: 20px;
color: var(--white);
padding-top: 0.8rem;
width:auto;
cursor: pointer;
transition: all 0.5s;
font-weight: 500;
position: relative;
z-index: 1;
}

.back-to-home:hover{
transition:0.9s;
font-weight: bolder;
color: var(--bgOrange);
}

.btn-pink-resume {
  margin-left: 10px;
  background-color: var(--bgOrange);
  width:auto;
  color: var(--white);
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  border: solid 3px transparent;
  position: relative;
  z-index: 1;
}
.btn-pink-resume::before {
  content: "";
  position: absolute;
  background-color: #00000070;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.8s;
}

.btn-pink-resume:hover::before {
  transform: scaleX(1);
}
.btn-pink-resume:hover {
  border: solid 3px var(--bgOrange);
  color: var(--white);
}


/* tweets section */

.tweet-section{
  position:relative;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 10rem auto;
  padding: 0 1rem;
}

.img-container{
  position: relative;
  width: 70vw;
  pointer-events: none;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 20px var(--white8E);
}

.role{
  color: var(--role);
  font-weight: 800;
}

.links{
display:inline-flex;

}

.img-sign{
display: flex;
margin: auto;
justify-content: center;
width: 70%;
position: relative;
top: 0;
left: 0;
}

.image1{
width: 65%;
height: 50%;
border-radius: 5%;
opacity: 90%;
position: relative;
top: 0;
left: 0;
filter: blur(2px);
}

.image2{
width: 40%;
height: 80%;
border-radius: 5%;
opacity: 90%;
position: absolute;
top: 12%;
zoom: 150%;
}

.tweets{
display:flex;
flex-wrap:wrap;
width:90%;
position:relative;
gap:1rem;
justify-content: center;
zoom: 100%;
}

/* Error 404 */

#error{
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof{
  display: table-cell;
  vertical-align: middle;
}

.work-img{
  margin: 0;
  font-size: 70px;
}

.error-blue{
  color: navy;
  margin: 1rem;
}

.error-h1{
  margin: 1rem;
  color: var(--black);
  font-size: 50px;
}

.fof a{
  color: var(--role);
}

.error-grey{
  margin: 1rem;
  color: #888;
}

#reloadButton {
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}


/* Preloader styles */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bgBlack); /* Adjust the background color as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the preloader is on top of other content */
}

.loader {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsiveness */


/* Responsive for 1200px */


@media  (max-width:1200px) {

  .logo{
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;
      width:40px;
  }
  
  .logo-text{
      font-size:20px;
    }
  
  .nav-items{
      padding-top: 10px;
      display:flex;
      gap:1rem;
      padding: 0 1em;
  }
  
  .nav-items div{
      font-size:16px;
  }

  .hero-section{
    flex-direction: column-reverse;
    display:flex;
    padding-left: auto;

  }
  
  .hero-section-left{
    width:100%;
    margin-top: 5px;
  }

  .hero-section-heading{
      font-size: 35px;
  }

  
  .hero-section-sub-heading{
      font-size: 35px;
      line-height: 20px;
  }
  

  .hero-section-description{
    margin-top: 1rem;
    width: 60%;
    font-weight: 500;
    line-height: 23px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
  .links{
      display:inline-flex;
      margin-top: 20px;
  } 

  .resume{
    font-size: 20px;
    padding-top: 0.8rem;
    padding-left: 2rem;
  }
  
  .arrow{
    width:20px;
    height:20px;
  }
  

  .btn-pink {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 20px;
  }

  .user-image{
    object-fit: fill;
    width: 260px;
    height: 280px;
    padding:2em;
    filter: grayscale(0);
    transition: all 1s;
    animation: scaleImage 5s linear infinite;
    border-radius: 5%;
    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;
    left: -10%;
  }

    .user-image img{
    z-index: -9;
    position: absolute;
    width: 350px;
    height: 360px;
    border-radius: 5%;
    top: -2%;
    left: -3%;
    }

    .project-section{
      margin-top:2rem;
    }
  
  .page-header {
    padding-top: 30px;
    text-align: center;
    font-size: 40px;
  }
  .project-container {
    padding: 5px;
    margin: 10px;
    gap: 60px;
  }
  .project-card {
    width: 100%;
    height: 300px;
  }
  .project-card {
    background-size: cover;
    background-position: center;
  }
  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .project-content-left {
    left: 0;
  }
  .project-heading {
    font-size: 40px;
    width: 100%;
  }
  .project-sub-heading {
    width: 100%;
  }
  #project2 {
    margin-left: 0;
  }
  #project4 {
    margin-left: 0;
  }
  .project-skill-container {
    width: 100%;
  }
  .project-skill {
    width: 35px;
  }
  .project-card:hover .project-number {
    display: none;
  }
  .project-card:hover .project-content {
    scale: 0.55;
  }

  .skills-container{
    display:flex;
    flex-direction: column;
    padding:auto;
    margin: auto;
    justify-content: space-between;
    gap: 5rem;
  }
  
  .skill-container-left{
    width:100%;
    display:flex;
    flex-direction:column;
  }
  
  .skill-container-right{
    display:flex;
    flex-wrap:wrap;
    margin: auto;
    width:80%;
    position:relative;
    gap:3rem;
  }

/* ====== STATISTICS ====== */
.statistics-section{
  margin: 0.1%;
  text-align: center;
}

.statistics-title{
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1%;
}

.statistics-subtitle{
  font-size: 0.8em;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.statistics-container img {
  margin: 1%;
  width: 400px;
}

/* Connect-section */
.connect-section h2{
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 1%;
}

.connect-section p{
  font-size: 0.8em;
}

.connect-des{
  width: 90%;
  gap: 10%;
}

.connect-des h3{
  font-size: 1em;
  margin-bottom: 3%;
}

.connect-des p{
  font-size: 0.8em;
  width: 80%;
  line-height: 150%;
}

.connect-des i{
  padding: 20px;
}


.contactus-form-container{
  width:100%;
}

.contactus-heading{
  margin-top: -0.5%;
  margin-left: 20%;
  font-size:3.5em;
  
}
.contactus-heading-down{
  margin-top: 10%;
  display: flex;
  margin-left: 20%;
  font-size:3em;
}

.contactus-sub-heading{
  margin-left: 20%;
  margin-top:70px ;
  width: 60%;
  font-size:1.2rem;
}

.form{
  display:flex;
  flex-direction: column;
  gap:30px;
  width:80%;
  margin: 2rem 5rem;
}

.formfield-container{
  width:70%;
}

.formfield{
  width:100%;
  height:45px;
  padding: 0 2rem;
  font-size:15px;
  border-radius: 5px;
  font-weight:500;
  border:none;
  margin-top:27px;
}

.formfield-textarea{
  height:auto;
  padding-top:1rem;
}

.hover-btn{
  font-size: 0.8rem;
  margin: 1rem 0;
}

.submit-icon{
  padding:0 1rem;
  font-size:1rem;
}

.contactus-img{
  width: 300px;
  height: 300px;
}
.hr{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;

}
.contactus-below{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px; 
}

.contactus-below p{
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

.contactus-below a{
  cursor: pointer;
  margin: auto;
  font-size: medium;
}

.link-wrapper{
  display:flex;
  gap:1rem;
}

.link-wrapper div a{
  text-decoration:none;
  transition:all 0.6s;
}

.icon-wrapper{
  display:flex;
  zoom: 80%;
  gap:1rem;
}

.connect-left h2{
  font-size:1.5rem;
}
.connect-left p{
  font-size:0.625rem;
}

.btn-black {
  font-size: 1rem;
}
.btn-black-project {
  font-size: 1rem;
}

.timeline-h2{
  margin-top: -2.5%;
}

.connect-left h2{
  font-size: 1.5rem;
}
.connect-left p{
  font-size: 0.8rem;
}

.btn-black {
  padding: 0.8rem 2.3rem;
  font-size: 1rem;
}

/* resume section */

.back-to-home{
  font-size: 20px;
  padding-top: 0.8rem;
}

.btn-pink-resume {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 20px;
}

/* tweets section */

  
.image1{
  width: 75%;
  height: 50%;
}

.image2{
  width: 70%;
}

.tweets{
  display:flex;
  flex-wrap:wrap;
  width:50%;
  position:relative;
  gap:1rem;
  justify-content: center;
  zoom: 100%;
}

}

.navbar-link-toggle {
  display: none;
}

.fa-bars{
  color: var(--white);
}



/* Responsive for iphone 12 pro */


@media (max-width: 768px){

  
  .logo{
      padding-top: 5px;
      padding-left: 15px;
      width:30px;
  }
  
  .logo-text{
      font-size:15px;
      padding-top: 0px;
    }
  
  .navbar-link-toggle {
      align-self: flex-end;
      display: initial;
      cursor: pointer;
      padding: 0 1em 0.8rem;
      align-items: center;
  }  
  
  .nav-items{
      padding-top: -12px;
      display:none;
      gap:1rem;
      padding: 0 1em;
  }
  
  .nav-items div{
      font-size:8px;
  }

  .hero-section{
    flex-direction: column-reverse;
    display:flex;
    padding-left: auto;

  }
  
  .hero-section-left{
    width:100%;
    margin-top: 5px;
  }

  .hero-section-heading{
      font-size: 25px;
  }

  
  .hero-section-sub-heading{
      font-size: 22px;
      line-height: 20px;
  }
  
  .hero-section-description{
      font-size: 13px;
  }
 
.links{
  display:inline-flex;
  margin-top: 10px;
} 

  .resume{
    font-size: 15px;
    padding-top: 0.8rem;
    padding-left: 2rem;
  }
  
  .arrow{
    width:10px;
    height:10px;
  }
  

  .btn-pink {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 15px;
  }
  .hero-section-right{
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
 } 
  
  .user-image{
    margin:10px;
    width: 240px;
    height: 260px;
    padding:1em;
  }
  
  .user-image img{
  width: 100%;
  height: 100%;
  }

.project-section{
  margin:1rem;
  border-radius: 1rem;
    }
  
  .page-header {
    padding-top: 2rem;
    text-align: center;
    font-size: 3rem;
  }
  .project-container {
    padding: 0.3rem;
    margin: 0.625rem;
    gap: 3rem;
  }
  .project-card {
    width: 100%;
    height: 250px;
  }
  .project-card {
    background-size: cover;
    background-position: center;
  }
  .project-content {
    scale: 0.5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }
  .project-content-left {
    left: 0;
  }
  .project-heading {
    font-size: 2rem;
    width: 90%;
  }
  .project-sub-heading {
    width: 90%;
  }
  #project2 {
    margin-left: 0;
  }
  #project4 {
    margin-left: 0;
  }
  .project-skill-container {
    width: 100%;
  }
  .project-skill {
    width: 1.8rem;
  }
  .project-card:hover .project-number {
    display: none;
  }
  .project-card:hover .project-content {
    scale: 0.5;
  }

  .skills-container{
    display:flex;
    flex-direction: column;
    padding:auto;
    margin: auto;
    justify-content: space-between;
    gap: 5rem;
    margin-bottom: 5rem;
  }

  .skill-container-left{
    width:100%;
    display:flex;
    flex-direction:column;
  }
  
  .skill-container-right{
    display:flex;
    flex-wrap:wrap;
    margin: auto;
    width:80%;
    position:relative;
    gap:3rem;
  }


    .skill-heading{
      font-size:35px;
    }

    .caps{
      font-size:60px;
    }

/* ====== STATISTICS ====== */
.statistics-section{
  margin: 0.1%;
  text-align: center;
}

.statistics-title{
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1%;
}

.statistics-subtitle{
  font-size: 0.8em;
}

.statistics-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.statistics-container img {
  margin: 0.5%;
  width: 100%;
}



/* Connect-section */
.connect-section h2{
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 3%;
}

.connect-section p{
  font-size: 0.8em;
}

.connect-des{
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  gap: 7%;
}

.connect-des h3{
  font-size: 1em;
  margin-bottom: 3%;
}

.connect-des p{
  font-size: 0.8em;
  width: 80%;
  line-height: 150%;
}

.connect-des i{
  padding: 20px;
}

.design-section {
  margin: 1rem;
  border-radius: 1rem;
}

ul li .date {
  font-size: 1rem;
}

/* Contact us */

.contactus-form-container{
  width:100%;
}

.contactus-heading{
  margin-top: -0.5%;
  margin-left: 20%;
  font-size:2.5em;
  
}
.contactus-heading-down{
  margin-top: 10%;
  display: flex;
  margin-left: 20%;
  font-size:3em;
}

.contactus-sub-heading{
  margin-left: 20%;
  margin-top:70px ;
  width: 60%;
  font-size:1.2rem;
}

.form{
  display:flex;
  flex-direction: column;
  gap:30px;
  width:80%;
  margin: 2rem 1rem;
}

.formfield-container{
  width:60%;
}

.formfield{
  width:100%;
  height:40px;
  padding: 0 2rem;
  font-size:10px;
  border-radius: 5px;
  font-weight:500;
  border:none;
  margin-top:27px;
}

.formfield-textarea{
  height:auto;
  padding-top:1rem;
}

.hover-btn{
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.submit-icon{
  padding:0 1rem;
  font-size:0.8rem;
}

.contactus-img{
  width: 160px;
  height: 200px;
}
.hr{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;

}
.contactus-below{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px; 
}

.contactus-below p{
  width: 90%;
  margin-left: 5%;
  text-align: center;
  font-size: 0.8rem;
}

.contactus-below a{
  cursor: pointer;
  margin: auto;
  font-size: 0.8rem;
}

.contactus-below address{
  font-size: 0.8rem;
}

.link-wrapper{
  display:flex;
  gap:1rem;
}

.link-wrapper div a{
  text-decoration:none;
  transition:all 0.6s;
}

.link-wrapper div a:hover{
  color:var(--accent-color);
}

.icon-wrapper{
  display:flex;
  zoom: 60%;
  gap:1rem;
}

.connect-box{
  display: flex;
  flex-direction: column;
}

.timeline-h1{
  font-size: 3rem;
}

.timeline-h2{
  margin-top: -5%;
  font-size:2em;
}

.connect-left h2{
  font-size: 1rem;
  padding-bottom: 3%;
}
.connect-left p{
  font-size: 0.7rem;
  padding-bottom: 4%;
}

.btn-black {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
}

.btn-black-project {
  display: flex;
  padding: 0.5rem 1rem;
  font-size: 0.5rem;
  width: 21%;
}

/* resume section */

.back-to-home{
  font-size: 12px;
  padding-top: 0.8rem;
}

.btn-pink-resume {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 10px;
}

/* tweets section */

.image1{
  width: 120%;
  height: 50%;
}

.image2{
  width: 70%;
}

.tweets{
  display:flex;
  flex-wrap:wrap;
  width:60%;
  position:relative;
  gap:1rem;
  justify-content: center;
  zoom: 100%;
}

}




/* Animation using Javascript */
@media (min-width:400px) {
  

.animationX {
  opacity: 0;
  transform: translateX(-200px);
  transition: all 0.7s ease-out;
  transition-delay: 0.2s;

}
.animationXX {
  opacity: 0;
  transform: translateX(200px);
  transition: all 0.7s ease-out;
  transition-delay: 0.2s;

}
.animationY {
  opacity: 0;
  transform: translateY(-50px);
  transition: all 0.7s ease-out;
  transition-delay: 0.2s;

}

.animationYY {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s ease-out;
  transition-delay: 0.1s;

}
.animationZ {
  opacity: 0;
  transform: translateZ(-50px);
  transition: all 0.7s ease-in-out;
  transition-delay: 0.3s;

}
.animationL {
  opacity: 0;
  transform: translate(-300px);
  transition: all 0.7s ease-out;
  transition-delay: 0.1s;
}
.animationR {
  opacity: 0;
  transform: translate(300px);
  transition: all 0.7s ease-out;
  transition-delay: 0.1s;

}

.scroll-animation {
  opacity: 1;
  transform: translateX(0);
}

}

