@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

*{
  margin:0;
  padding:0;
  /* box-sizing:border-box; */
  font-family: "Be Vietnam Pro", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --bgOrange: #e84949;
}

#wrapper{
    height:100vh;
    overflow-y:auto;
    overflow-x: hidden;
    background-image: url(./images/userAsset/herobg.png);
    object-fit: cover;
}

.container{
    width:85vw;
    margin:0 auto;
    
}

/* Navbar section */

.navbar{
  width: 1200px;
  margin-top: -8.5rem;
  border-radius: 50px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  position: fixed;
  background-color: rgba(114, 109, 153, 0.55);
  backdrop-filter: blur(7px);
  z-index: 50;
  border: 1px solid rgba(245, 245, 245, 0.608);
}

.logo{
  padding-top: 5px;
  padding-left: 20px;
  width:60px;
}

.logo:hover{
transform: scale(1.1);
}

.logo-container{
  display:flex;
  justify-content: baseline;
  align-items: center;
}

.logo-text{
  padding-top: -13px;
  padding-left:-0.2rem;
  font-size:1.375rem;
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.nav-items{
  padding-top: 20px;
  display:flex;
  gap:2rem;
  padding: 0 2em;
}

.nav-items div{
  font-size:16px;
  font-weight:500;
  cursor:pointer;
}

.nav-items div a{
  color:rgb(255, 255, 255);
  /* transition: all 5s ease; */
}

a{
  text-decoration: none;
}

.nav-items div a:hover {
background-color: transparent;
text-decoration:underline;
text-underline-position:below;
}

.nav-items div:hover{
  transition:0.8s;
  font-weight: bolder;
}

.resume-nav{
color: white;
width:auto;
cursor: pointer;
transition: all 0.5s;
font-weight: 500;
position: relative;
}

.icon{
cursor:pointer;
color:black;
background-color: white;
border: 0.2px solid whitesmoke;
box-shadow: 0px 16px 30px -10px rgba(0, 0, 0, 0.7);
padding: 8px 10px;
border-radius: 12px;
font-size: 35px;
transition:all 0.2s;
}

.icon:hover{
scale: 1.2;
transform: translateY(-8px);
}

.hero-section{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin: 10rem auto;
    padding: 0 1rem;
}

.img-container{
    position: relative;
    width: 70vw;
    pointer-events: none;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 20px #ffffff8e;
}

.role{
    color: #5c54d0;
    font-weight: 800;
}

.links{
  display:inline-flex;

}

.resume{
  font-size: 20px;
  color: white;
  padding-top: 0.8rem;
  width:auto;
  cursor: pointer;
  transition: all 0.5s;
  font-weight: 500;
  position: relative;
  z-index: 1;
}
.resume:hover{
  transition:0.9s;
  font-weight: bolder;
  color: var(--bgOrange);
}

.arrow{
  width:16px;
  height:16px;
}

.arrow:hover{
  transform:translateX(5px);
  color: var(--bgOrange);
}

.img-sign{
  display: flex;
  margin: auto;
  justify-content: center;
  width: 70%;
  position: relative;
  top: 0;
  left: 0;
}

.image1{
  width: 65%;
  height: 50%;
  border-radius: 5%;
  opacity: 90%;
  position: relative;
  top: 0;
  left: 0;
  filter: blur(2px);
}

.image2{
  width: 40%;
  height: 80%;
  border-radius: 5%;
  opacity: 90%;
  position: absolute;
  top: 12%;
  zoom: 150%;
}

.tweets{
  display:flex;
  flex-wrap:wrap;
  width:90%;
  position:relative;
  gap:1rem;
  justify-content: center;
  zoom: 100%;
}


/* Footer Section */

footer{
  position:relative;
  margin-top:-1px;
  background-color: #343d68;
  padding:2rem;
}

.footer-wrapper{
  display:flex;
  gap:1rem;
  padding:1.2rem;
  justify-content: space-between;
  align-items:center;
}

.footer-faded-text{
  position:absolute;
  left:0;
  bottom:0;
  color:#535c87;
  user-select:none;
  font-size:3em;
}

.link-wrapper{
  display:flex;
  gap:1.2rem;
}

.link-wrapper div a{
  color:white;
  text-decoration:none;
  transition:all 0.6s;
}

.icon-wrapper{
  display:flex;
  gap:1rem;
  background-color: #e2e8f084;
  box-shadow: inset 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  max-width: fit-content;
  padding: 8px;
  border-radius: 20px;
}

.tooltiptext {
  visibility: hidden;
  width: fit-content;
  font-size: 10px;
  font-weight: 600;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;

  /* Position the tooltip */
  position: absolute;
  top: -80%;
  left: -2px ;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  z-index: 1;
}


/* Responsiveness */


/* Responsive for 1200px */


@media (max-width:1200px) {

  .container{
    width:100vw;
  }
  .navbar{
    width: 99.75%;
    margin-top: -8.5rem;
}

.logo{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 10px;
    width:40px;
}

.logo-text{
    font-size:20px;
  }

.nav-items{
    padding-top: 10px;
    display:flex;
    gap:1rem;
    padding: 0 1em;
}

.nav-items div{
    font-size:16px;
}


  .resume{
    font-size: 20px;
    padding-top: 0.8rem;
  }
  
  .arrow{
    width:20px;
    height:20px;
  }
  
  .image1{
    width: 75%;
    height: 50%;
  }
  
  .image2{
    width: 70%;
  }

  .tweets{
    display:flex;
    flex-wrap:wrap;
    width:50%;
    position:relative;
    gap:1rem;
    justify-content: center;
    zoom: 100%;
  }

  .btn-pink {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 20px;
  }

  footer{
    position:relative;
    margin-top:-1px;
    padding:1rem;
  }
  
  .footer-wrapper{
    display:flex;
    gap:1rem;
    padding:1.2rem;
    justify-content: space-between;
    align-items:center;
  }
  
  .footer-faded-text{
    position:absolute;
    left:0;
    bottom:0;
    user-select:none;
    font-size:2em;
  }
  footer{
    padding:2rem;
  }
  
  .footer-wrapper{
    display:grid;
  }
  
  .footer-faded-text{
    font-size:2em;
  }
}

.navbar-link-toggle {
  display: none;
}

.fa-bars{
  color: white;
}



/* Responsive for iphone 12 pro */


@media (max-width:480px) {

  .navbar{
      width: 99.5%;
      margin-top: -8.5rem;
      padding-top:2px;   
  }
  
  .logo{
      padding-top: 5px;
      padding-left: 15px;
      width:30px;
  }
  
  .logo-text{
      font-size:15px;
      padding-top: 0px;
    }
  
  .navbar-link-toggle {
      align-self: flex-end;
      display: initial;
      cursor: pointer;
      padding: 0 1em 0.8rem;
      align-items: center;
  }  
  
  .nav-items{
      padding-top: -12px;
      display:none;
      gap:1rem;
      padding: 0 1em;
  }
  
  .nav-items div{
      font-size:8px;
  }
  .resume{
    font-size: 12px;
    padding-top: 0.8rem;
  }
  
  .arrow{
    width:10px;
    height:10px;
  }

  .image1{
    width: 120%;
    height: 50%;
  }
  
  .image2{
    width: 70%;
  }

  .tweets{
    display:flex;
    flex-wrap:wrap;
    width:60%;
    position:relative;
    gap:1rem;
    justify-content: center;
    zoom: 100%;
  }

  .btn-pink {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 15px;
  }

  .icon-wrapper{
    display:flex;
    zoom: 60%;
    gap:1rem;
  }

  footer{
    padding:1.5rem;
  }
  
  .footer-wrapper{
    display:grid;
  }
  
  .footer-faded-text{
    font-size:1.5em;
  }
}

/* Animation using Javascript */
@media (min-width:1000px) {
  

  .animationX {
    opacity: 0;
    transform: translateX(-200px);
    transition: all 0.7s ease-out;
    transition-delay: 0.2s;
  
  }
  .animationXX {
    opacity: 0;
    transform: translateX(200px);
    transition: all 0.7s ease-out;
    transition-delay: 0.2s;
  
  }
  .animationY {
    opacity: 0;
    transform: translateY(-50px);
    transition: all 0.7s ease-out;
    transition-delay: 0.2s;
  
  }
  
  .animationYY {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.7s ease-out;
    transition-delay: 0.1s;
  
  }
  .animationZ {
    opacity: 0;
    transform: translateZ(-50px);
    transition: all 0.7s ease-in-out;
    transition-delay: 0.3s;
  
  }
  .animationL {
    opacity: 0;
    transform: translate(-300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.1s;
  }
  .animationR {
    opacity: 0;
    transform: translate(300px);
    transition: all 0.7s ease-out;
    transition-delay: 0.1s;
  
  }
  
  .scroll-animation {
    opacity: 1;
    transform: translateX(0);
  }
  }
  
  